@import url('spinner.css');
@import url('paperlook.css');
@import url('print.css') print;
@import url('sectionSpecific.css');

#resume {
	margin: 0 25%; 
}

div {
	float: left;
}

h1 {
	text-align: center;
}

.section {
	clear: both;
	padding: 5px 15px;
}

.section h2 {
	margin: 5px -15px;
}

.object-property {
	clear: both;
}

.object .object-property .name {
	display: none;
}

.name {
	clear: left;
	width: 7em;
}

.name::after {
	content: " :";
}

.simple-list .item {
	display: inline-block;
	margin-right: 0.5em;
}

.complex-list .object {
	clear: left;
}

.simple-list .item::after {
	content: ',';
}

.simple-list .item:last-child::after {
	content: '';
}

footer {
	position: fixed;
	top: 100%;
	width: 100%;
	margin-top: -2em;
}

footer #source {
	float: right;
	margin-right: 2em;
	font-style: italic;
}