#resume {
	min-width: 500px;
	max-width: 65%;
	margin: auto;
}

span {
	display: inline-block;
	margin-right: 0.5em;
}

.section {
	padding-left: 10px; 
}

footer {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: -2em;
}

footer #source {
	float: right;
	margin-right: 2em;
	font-style: italic;
}