body {
	background-color: #ffffff !important;
}

#resume {
	border: none !important;
	box-shadow: none !important;
	background-color: #ffffff !important;
}

#resume:before, #resume:after {
	display: none i !important;
}

#source {
	display: none i !important;
}