@import url('./fonts.css');
@import url('./spinner.css');
@import url('./theme.css');
@import url('./paperlook.css');
@import url('./stamp.css');
@import url('./sectionSpecific.css');
@import url('./warning.css');

@import url('./print.css') print;

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

div {
	float: left;
}

h1 {
	text-align: center;
	font-family: WolfCraftTitleFont;
	color: var(--background-color);
	font-weight: normal;
	text-decoration: underline;
	opacity: 0.8;
}

.section {
	clear: both;
	padding: 5px 15px;
	margin: 1rem 0 0.5rem 0;
}

.section h2 {
	margin: 5px -15px;
	font-family: WolfCraftTitleFont;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	color: var(--background-color);
	opacity: 0.8;
}

.section h2 a {
	text-decoration: none;
	color: var(--background-color);
}

.section h2 a svg.icon {
	height: 1em;
	fill: var(--background-color);
	margin-left: 0.5em;
}

.object-property {
	clear: both;
}

.object .object-property .name {
	display: none;
}

.name {
	clear: left;
	width: 7em;
}

.name::after {
	content: " :";
}

.simple-list .item {
	display: inline-block;
	margin-right: 0.5em;
}

.complex-list .object {
	clear: left;
}

.simple-list .item::after {
	content: ',';
}

.simple-list .item:last-child::after {
	content: '';
}

.complex-list > .object {
	margin-bottom: 1em; 
}

.complex-list > .object:last-child {
	margin-bottom: 0; 
}


footer {
	position: fixed;
	top: 100%;
	width: 100%;
	margin-top: -3em;
}

footer #source {
	float: right;
	margin-right: 1em;
	font-style: italic;
	font-size: 2em;
	text-decoration: none;
	font-family: WolfCraftTitleFont;
	color: var(--main-color);
}

.email-split {
	display: none;
}

.email-split + span::before {
	content: '@';
}

.data-url {
	text-decoration: none;
	color: inherit;
}
