body {
	background-color: #ffffff !important;
}

#resume {
	border: none !important;
	box-shadow: none !important;
	background-color: #ffffff !important;
	margin: 0 !important;
}

#resume:before, #resume:after {
	display: none !important;
}

#source {
	display: none !important;
}

svg.icon.printer {
	display: none !important;
}

.wolfcraft-stamp {
	top: 4% !important;
	right: 3% !important;
}
