.section.education .object-property { 
	margin-top: 0.5em;
}
	
.section.education .object-property:not(:first-child) .content::before {
	content: ', ';
}

.section.education .object-property .content.certification::before {
	margin-left: 0.2em;
	content: '(';

}
.section.education .certification::after {
	content: ')';
}

.section.education .object-property {
	clear: none;
}
