.section.experience .object {
	width: 100%;
}

.section.experience .object .object-property {
	clear: none;
}

.section.experience .object .object-property:nth-child(2) {
	clear: right;
	float: right;
}

.section.experience .object .object-property:nth-child(4) {
	clear: left;
	width: 75%;
}

.section.experience .function::before {
	content: "-";
	padding: 0 0.5em;
}

.section.experience .content:not(.company):not(.function):not(.period) {
	margin: 0.2em 0.4em;
}

.section.experience .stack {
	font-style: italic;
	font-size: 0.8em;
}

.section.experience .project-source {
	font-size: 0.85em;
}

.section.experience .project-source.content::before {
	content: "Public source:";
	font-style: italic;
	margin-right: 0.5em;
}
