.section.languages .object-property {
	clear: none;
}

.section.languages .object-property .content.language {
	width: 5em;
}

.section.languages .object-property .content.language::after {
	content: ': ';
}

.section.languages .object-property .content.level {
	clear: left;

}

.section.languages .complex-list > .object {
	margin-bottom: 0;
}